{
  "extends": ["airbnb-base"],
  "env": {
    "es6": false
  },
  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "module",
    "ecmaFeatures": {
      "generators": false,
      "objectLiteralDuplicateProperties": false
    }
  },
  "rules": {
    "vars-on-top": "off",
    "no-var": "off",
    "camelcase": "off",
    "block-scoped-var": "off",
    "quotes": "off",
    "prefer-template": "off",
    "no-plusplus": "off",
    "semi": "off",
    "brace-style": "off",
    "indent": "off",
    "no-param-reassign": "off",
    "no-restricted-properties": "off",
    "eqeqeq": "off",
    "no-else-return": "off",
    "max-len": "off",
    "prefer-destructuring": "off",
    "no-mixed-operators": "off",
    "no-redeclare": "off",
    "no-restricted-globals": "off",
    "quote-props": "off",
    "comma-style": "off",
    "comma-dangle": "off",
    "operator-assignment": "off",
    "prefer-arrow-callback": "off",
    "keyword-spacing": "off",
    "no-shadow": "off",
    "padded-blocks": "off",
    "no-useless-concat": "off",
    "no-console": "off",
    "func-names": "off"
  }

}
